<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>line_gradient_layout</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.2.2/dist/echarts.min.js"></script>
  </head>
  <body>
    <div id="id_37313396828852" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_37313396827432 = echarts.init(document.getElementById('id_37313396828852'), null, {renderer: 'canvas'});
        var option = {
  "backgroundColor": "rgba(0,0,0,0)",
  "color": [
    "#5470c6",
    "#91cc75",
    "#fac858",
    "#ee6666",
    "#73c0de",
    "#3ba272",
    "#fc8452",
    "#9a60b4",
    "#ea7ccc"
  ],
  "animation": true,
  "animationDuration": 1000,
  "animationDurationUpdate": 500,
  "animationEasing": "cubicInOut",
  "animationEasingUpdate": "cubicInOut",
  "animationThreshold": 2000,
  "progressiveThreshold": 3000,
  "title": [
    {
      "show": true,
      "text": "Gradient along the y axis",
      "target": "blank",
      "subtarget": "blank",
      "textAlign": null,
      "textVerticalAlign": "auto",
      "padding": 5,
      "itemGap": 10,
      "z": 2,
      "left": "center",
      "top": "auto",
      "right": "auto",
      "bottom": "auto",
      "backgroundColor": "transparent",
      "borderColor": "transparent",
      "borderWidth": 1,
      "borderRadius": 0
    },
    {
      "show": true,
      "text": "Gradient along the x axis",
      "target": "blank",
      "subtarget": "blank",
      "textAlign": null,
      "textVerticalAlign": "auto",
      "padding": 5,
      "itemGap": 10,
      "z": 2,
      "left": "center",
      "top": "50%",
      "right": "auto",
      "bottom": "auto",
      "backgroundColor": "transparent",
      "borderColor": "transparent",
      "borderWidth": 1,
      "borderRadius": 0
    }
  ],
  "tooltip": [{
      "show": true,
      "trigger": "axis",
      "showContent": true,
      "alwaysShowContent": false,
      "triggerOn": "mousemove|click",
      "transitionDuration": 0.4,
      "padding": 5,
      "order": "seriesAsc"
    }],
  "visualMap": [
    {
      "type": "continuous",
      "min": 0,
      "max": 400,
      "calculable": false,
      "realtime": true,
      "inverse": false,
      "precision": 0,
      "itemWidth": 20,
      "itemHeight": 140,
      "align": "auto",
      "textGap": 10,
      "show": false,
      "hoverLink": true,
      "zlevel": 0,
      "z": 4,
      "left": "auto",
      "top": "auto",
      "right": "auto",
      "bottom": "auto",
      "orient": "vertical",
      "padding": 5,
      "backgroundColor": "rgba(0,0,0,0)",
      "borderColor": "#ccc",
      "borderWidth": 0,
      "handleSize": "120%",
      "indicatorIcon": "circle",
      "indicatorSize": "50%",
      "seriesIndex": 0
    },
    {
      "type": "continuous",
      "min": 0,
      "max": 49,
      "calculable": false,
      "realtime": true,
      "inverse": false,
      "precision": 0,
      "itemWidth": 20,
      "itemHeight": 140,
      "align": "auto",
      "textGap": 10,
      "show": false,
      "dimension": 0,
      "hoverLink": true,
      "zlevel": 0,
      "z": 4,
      "left": "auto",
      "top": "auto",
      "right": "auto",
      "bottom": "auto",
      "orient": "vertical",
      "padding": 5,
      "backgroundColor": "rgba(0,0,0,0)",
      "borderColor": "#ccc",
      "borderWidth": 0,
      "handleSize": "120%",
      "indicatorIcon": "circle",
      "indicatorSize": "50%",
      "seriesIndex": 1
    }
  ],
  "toolbox": {
    "show": true,
    "orient": "horizontal",
    "itemSize": 15,
    "itemGap": 10,
    "showTitle": true,
    "feature": {"saveAsImage": {
        "type": "png",
        "backgroundColor": "transparent",
        "connectedBackgroundColor": "#fff",
        "show": true,
        "title": "Save as image",
        "pixelRatio": 1
      }},
    "z": 2,
    "top": "auto",
    "right": "auto",
    "width": "auto",
    "height": "auto"
  },
  "xAxis": [
    {
      "show": true,
      "type": "category",
      "data": [
        "2000-06-05",
        "2000-06-06",
        "2000-06-07",
        "2000-06-08",
        "2000-06-09",
        "2000-06-10",
        "2000-06-11",
        "2000-06-12",
        "2000-06-13",
        "2000-06-14",
        "2000-06-15",
        "2000-06-16",
        "2000-06-17",
        "2000-06-18",
        "2000-06-19",
        "2000-06-20",
        "2000-06-21",
        "2000-06-22",
        "2000-06-23",
        "2000-06-24",
        "2000-06-25",
        "2000-06-26",
        "2000-06-27",
        "2000-06-28",
        "2000-06-29",
        "2000-06-30",
        "2000-07-01",
        "2000-07-02",
        "2000-07-03",
        "2000-07-04",
        "2000-07-05",
        "2000-07-06",
        "2000-07-07",
        "2000-07-08",
        "2000-07-09",
        "2000-07-10",
        "2000-07-11",
        "2000-07-12",
        "2000-07-13",
        "2000-07-14",
        "2000-07-15",
        "2000-07-16",
        "2000-07-17",
        "2000-07-18",
        "2000-07-19",
        "2000-07-20",
        "2000-07-21",
        "2000-07-22",
        "2000-07-23",
        "2000-07-24"
      ],
      "gridIndex": 0,
      "position": "bottom",
      "offset": 0,
      "nameLocation": "end",
      "nameGap": 15,
      "nameRotate": 0,
      "inverse": false,
      "boundaryGap": true,
      "scale": false,
      "splitNumber": 5,
      "minInterval": 0,
      "silent": false,
      "triggerEvent": false,
      "zlevel": 0,
      "z": 0
    },
    {
      "show": true,
      "type": "category",
      "data": [
        "2000-06-05",
        "2000-06-06",
        "2000-06-07",
        "2000-06-08",
        "2000-06-09",
        "2000-06-10",
        "2000-06-11",
        "2000-06-12",
        "2000-06-13",
        "2000-06-14",
        "2000-06-15",
        "2000-06-16",
        "2000-06-17",
        "2000-06-18",
        "2000-06-19",
        "2000-06-20",
        "2000-06-21",
        "2000-06-22",
        "2000-06-23",
        "2000-06-24",
        "2000-06-25",
        "2000-06-26",
        "2000-06-27",
        "2000-06-28",
        "2000-06-29",
        "2000-06-30",
        "2000-07-01",
        "2000-07-02",
        "2000-07-03",
        "2000-07-04",
        "2000-07-05",
        "2000-07-06",
        "2000-07-07",
        "2000-07-08",
        "2000-07-09",
        "2000-07-10",
        "2000-07-11",
        "2000-07-12",
        "2000-07-13",
        "2000-07-14",
        "2000-07-15",
        "2000-07-16",
        "2000-07-17",
        "2000-07-18",
        "2000-07-19",
        "2000-07-20",
        "2000-07-21",
        "2000-07-22",
        "2000-07-23",
        "2000-07-24"
      ],
      "gridIndex": 1,
      "position": "bottom",
      "offset": 0,
      "nameLocation": "end",
      "nameGap": 15,
      "nameRotate": 0,
      "inverse": false,
      "boundaryGap": true,
      "scale": false,
      "splitNumber": 5,
      "minInterval": 0,
      "silent": false,
      "triggerEvent": false,
      "zlevel": 0,
      "z": 0
    }
  ],
  "yAxis": [
    {
      "show": true,
      "gridIndex": 0,
      "position": "bottom",
      "offset": 0,
      "realtimeSort": true,
      "sortSeriesIndex": 0,
      "type": "value",
      "nameLocation": "end",
      "nameGap": 15,
      "nameRotate": 0,
      "inverse": false,
      "boundaryGap": false,
      "scale": false,
      "splitNumber": 5,
      "minInterval": 0,
      "silent": false,
      "triggerEvent": false,
      "zlevel": 0,
      "z": 0
    },
    {
      "show": true,
      "gridIndex": 1,
      "position": "bottom",
      "offset": 0,
      "realtimeSort": true,
      "sortSeriesIndex": 0,
      "type": "value",
      "nameLocation": "end",
      "nameGap": 15,
      "nameRotate": 0,
      "inverse": false,
      "boundaryGap": false,
      "scale": false,
      "splitNumber": 5,
      "minInterval": 0,
      "silent": false,
      "triggerEvent": false,
      "zlevel": 0,
      "z": 0
    }
  ],
  "series": [
    {
      "type": "line",
      "name": "GradientYAxis",
      "colorBy": "series",
      "coordinateSystem": "cartesian2d",
      "symbol": "emptyCircle",
      "symbolSize": 3,
      "symbolKeepAspect": true,
      "showSymbol": false,
      "showAllSymbol": "auto",
      "legendHoverLink": true,
      "stack": null,
      "cursor": "pointer",
      "connectNulls": false,
      "clip": true,
      "triggerLineEvent": false,
      "step": false,
      "smooth": false,
      "data": [
        116,
        129,
        135,
        86,
        73,
        85,
        73,
        68,
        92,
        130,
        245,
        139,
        115,
        111,
        309,
        206,
        137,
        128,
        85,
        94,
        71,
        106,
        84,
        93,
        85,
        73,
        83,
        125,
        107,
        82,
        44,
        72,
        106,
        107,
        66,
        91,
        92,
        113,
        107,
        131,
        111,
        64,
        69,
        88,
        77,
        83,
        111,
        57,
        55,
        60
      ],
      "zlevel": 0,
      "z": 2,
      "silent": false,
      "xAxisIndex": 0,
      "yAxisIndex": 0
    },
    {
      "type": "line",
      "name": "GradientXAxis",
      "colorBy": "series",
      "coordinateSystem": "cartesian2d",
      "symbol": "emptyCircle",
      "symbolSize": 3,
      "symbolKeepAspect": true,
      "showSymbol": false,
      "showAllSymbol": "auto",
      "legendHoverLink": true,
      "stack": null,
      "cursor": "pointer",
      "connectNulls": false,
      "clip": true,
      "triggerLineEvent": false,
      "step": false,
      "smooth": false,
      "data": [
        116,
        129,
        135,
        86,
        73,
        85,
        73,
        68,
        92,
        130,
        245,
        139,
        115,
        111,
        309,
        206,
        137,
        128,
        85,
        94,
        71,
        106,
        84,
        93,
        85,
        73,
        83,
        125,
        107,
        82,
        44,
        72,
        106,
        107,
        66,
        91,
        92,
        113,
        107,
        131,
        111,
        64,
        69,
        88,
        77,
        83,
        111,
        57,
        55,
        60
      ],
      "zlevel": 0,
      "z": 2,
      "silent": false,
      "xAxisIndex": 1,
      "yAxisIndex": 1
    }
  ],
  "grid": [
    {"bottom": "60%"},
    {"top": "60%"}
  ]
}
        chart_37313396827432.setOption(option);
    </script>
  </body>
</html>
