<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>scatter_bar_datazoom_layout</title>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>
  </head>
  <body>
    <div id="id_45cd170e0f0e4521ae1a94801d88fe4a" class="chart-container" style="width:1000px; height:1000px;"></div>
    <script>
        var chart_45cd170e0f0e4521ae1a94801d88fe4a = echarts.init(document.getElementById('id_45cd170e0f0e4521ae1a94801d88fe4a'), null, {renderer: 'canvas'});
        var option_45cd170e0f0e4521ae1a94801d88fe4a = {
  "backgroundColor": "rgba(0,0,0,0)",
  "color": [
    "#5470c6",
    "#91cc75",
    "#fac858",
    "#ee6666",
    "#73c0de",
    "#3ba272",
    "#fc8452",
    "#9a60b4",
    "#ea7ccc"
  ],
  "animation": false,
  "animationDuration": 1000,
  "animationDurationUpdate": 500,
  "animationEasing": "cubicInOut",
  "animationEasingUpdate": "cubicInOut",
  "animationThreshold": 2000,
  "progressiveThreshold": 3000,
  "legend": [{
      "type": "plain",
      "show": true,
      "z": 2,
      "left": "center",
      "top": "auto",
      "right": "auto",
      "bottom": "auto",
      "width": "auto",
      "height": "auto",
      "orient": "horizontal",
      "align": "auto",
      "padding": 5,
      "itemGap": 10,
      "itemWidth": 25,
      "itemHeight": 14,
      "symbolRotate": "inherit",
      "selectedMode": true,
      "inactiveColor": "rgb(204, 204, 204)",
      "inactiveBorderColor": "rgb(204, 204, 204)",
      "inactiveBorderWidth": "auto",
      "backgroundColor": "transparent",
      "borderWidth": 0,
      "borderRadius": 0,
      "pageButtonItemGap": 5,
      "pageIconColor": "rgb(47, 69, 84)",
      "pageIconInactiveColor": "rgb(170, 170, 170)",
      "pageIconSize": 15,
      "data": [
        "scatter",
        "scatter2",
        "scatter3"
      ]
    }],
  "tooltip": [{
      "show": true,
      "trigger": "item",
      "showContent": true,
      "alwaysShowContent": false,
      "triggerOn": "mousemove|click",
      "transitionDuration": 0.4,
      "padding": 5,
      "order": "seriesAsc"
    }],
  "dataZoom": [
    {
      "type": "slider",
      "show": true,
      "backgroundColor": "rgba(47,69,84,0)",
      "borderColor": "#ddd",
      "handleIcon": "M8.2,13.6V3.9H6.3v9.7H3.1v14.9h3.3v9.7h1.8v-9.7h3.3V13.6H8.2z M9.7,24.4H4.8v-1.4h4.9V24.4z M9.7,19.1H4.8v-1.4h4.9V19.1z",
      "handleSize": "100%",
      "moveHandleIcon": "M-320.9-50L-320.9-50c18.1,0,27.1,9,27.1,27.1V85.7c0,18.1-9,27.1-27.1,27.1l0, 0c-18.1,0-27.1-9-27.1-27.1V-22.9C-348-41-339-50-320.9-50z M-212.3-50L-212.3-50c18.1, 0,27.1,9,27.1,27.1V85.7c0,18.1-9,27.1-27.1,27.1l0,0c-18.1, 0-27.1-9-27.1-27.1V-22.9C-239.4-41-230.4-50-212.3-50z M-103.7-50L-103.7-50c18.1, 0,27.1,9,27.1,27.1V85.7c0,18.1-9,27.1-27.1,27.1l0, 0c-18.1,0-27.1-9-27.1-27.1V-22.9C-130.9-41-121.8-50-103.7-50z",
      "moveHandleSize": 3,
      "labelPrecision": "auto",
      "showDetail": true,
      "showDataShadow": "auto",
      "realtime": true,
      "xAxisIndex": [
        0,
        0
      ],
      "filterMode": "filter",
      "start": 1,
      "end": 35,
      "throttle": 100,
      "z": 2,
      "left": "2%",
      "right": "2%",
      "bottom": "53%",
      "brushSelect": true
    },
    {
      "type": "slider",
      "show": true,
      "backgroundColor": "rgba(47,69,84,0)",
      "borderColor": "#ddd",
      "handleIcon": "M8.2,13.6V3.9H6.3v9.7H3.1v14.9h3.3v9.7h1.8v-9.7h3.3V13.6H8.2z M9.7,24.4H4.8v-1.4h4.9V24.4z M9.7,19.1H4.8v-1.4h4.9V19.1z",
      "handleSize": "100%",
      "moveHandleIcon": "M-320.9-50L-320.9-50c18.1,0,27.1,9,27.1,27.1V85.7c0,18.1-9,27.1-27.1,27.1l0, 0c-18.1,0-27.1-9-27.1-27.1V-22.9C-348-41-339-50-320.9-50z M-212.3-50L-212.3-50c18.1, 0,27.1,9,27.1,27.1V85.7c0,18.1-9,27.1-27.1,27.1l0,0c-18.1, 0-27.1-9-27.1-27.1V-22.9C-239.4-41-230.4-50-212.3-50z M-103.7-50L-103.7-50c18.1, 0,27.1,9,27.1,27.1V85.7c0,18.1-9,27.1-27.1,27.1l0, 0c-18.1,0-27.1-9-27.1-27.1V-22.9C-130.9-41-121.8-50-103.7-50z",
      "moveHandleSize": 3,
      "labelPrecision": "auto",
      "showDetail": true,
      "showDataShadow": "auto",
      "realtime": true,
      "yAxisIndex": [
        0,
        0
      ],
      "filterMode": "filter",
      "start": 29,
      "end": 26,
      "throttle": 100,
      "z": 2,
      "left": "2%",
      "brushSelect": true
    },
    {
      "type": "inside",
      "disabled": false,
      "xAxisIndex": [
        0,
        0
      ],
      "filterMode": "filter",
      "start": 1,
      "end": 35,
      "orient": "horizontal",
      "throttle": 100,
      "zoomOnMouseWheel": true,
      "moveOnMouseMove": true,
      "moveOnMouseWheel": false,
      "preventDefaultMouseMove": true
    },
    {
      "type": "inside",
      "disabled": false,
      "yAxisIndex": [
        0,
        0
      ],
      "filterMode": "filter",
      "start": 29,
      "end": 36,
      "orient": "horizontal",
      "throttle": 100,
      "zoomOnMouseWheel": true,
      "moveOnMouseMove": true,
      "moveOnMouseWheel": false,
      "preventDefaultMouseMove": true
    },
    {
      "type": "slider",
      "show": true,
      "backgroundColor": "rgba(47,69,84,0)",
      "borderColor": "#ddd",
      "handleIcon": "M8.2,13.6V3.9H6.3v9.7H3.1v14.9h3.3v9.7h1.8v-9.7h3.3V13.6H8.2z M9.7,24.4H4.8v-1.4h4.9V24.4z M9.7,19.1H4.8v-1.4h4.9V19.1z",
      "handleSize": "100%",
      "moveHandleIcon": "M-320.9-50L-320.9-50c18.1,0,27.1,9,27.1,27.1V85.7c0,18.1-9,27.1-27.1,27.1l0, 0c-18.1,0-27.1-9-27.1-27.1V-22.9C-348-41-339-50-320.9-50z M-212.3-50L-212.3-50c18.1, 0,27.1,9,27.1,27.1V85.7c0,18.1-9,27.1-27.1,27.1l0,0c-18.1, 0-27.1-9-27.1-27.1V-22.9C-239.4-41-230.4-50-212.3-50z M-103.7-50L-103.7-50c18.1, 0,27.1,9,27.1,27.1V85.7c0,18.1-9,27.1-27.1,27.1l0, 0c-18.1,0-27.1-9-27.1-27.1V-22.9C-130.9-41-121.8-50-103.7-50z",
      "moveHandleSize": 3,
      "labelPrecision": "auto",
      "showDetail": true,
      "showDataShadow": "auto",
      "realtime": true,
      "xAxisIndex": [
        1,
        1
      ],
      "filterMode": "filter",
      "throttle": 100,
      "z": 2,
      "left": "2%",
      "right": "2%",
      "brushSelect": true
    },
    {
      "type": "inside",
      "disabled": false,
      "xAxisIndex": [
        1,
        1
      ],
      "filterMode": "filter",
      "orient": "horizontal",
      "throttle": 100,
      "zoomOnMouseWheel": true,
      "moveOnMouseMove": true,
      "moveOnMouseWheel": false,
      "preventDefaultMouseMove": true
    }
  ],
  "xAxis": [
    {
      "show": true,
      "type": "value",
      "gridIndex": 0,
      "position": "bottom",
      "offset": 0,
      "nameLocation": "end",
      "nameGap": 15,
      "nameRotate": 0,
      "inverse": false,
      "boundaryGap": true,
      "min": "dataMin",
      "max": "dataMax",
      "scale": false,
      "splitNumber": 5,
      "minInterval": 0,
      "silent": false,
      "triggerEvent": false,
      "splitLine": {
        "show": true,
        "onZero": true,
        "symbol": null
      },
      "zlevel": 0,
      "z": 0
    },
    {
      "show": true,
      "type": "category",
      "data": [
        "A",
        "B",
        "C",
        "D",
        "E"
      ],
      "gridIndex": 1,
      "position": "bottom",
      "offset": 0,
      "nameLocation": "end",
      "nameGap": 15,
      "nameRotate": 0,
      "inverse": false,
      "boundaryGap": true,
      "scale": false,
      "splitNumber": 5,
      "minInterval": 0,
      "silent": false,
      "triggerEvent": false,
      "axisLabel": {
        "show": true,
        "interval": "auto",
        "inside": false,
        "rotate": 0,
        "margin": 8,
        "showMinLabel": null,
        "showMaxLabel": null,
        "hideOverlap": false,
        "fontStyle": "normal",
        "fontWeight": "normal",
        "fontFamily": "sans-serif",
        "fontSize": 12,
        "lineHeight": 12,
        "backgroundColor": "transparent",
        "borderWidth": 0,
        "borderType": "solid",
        "borderDashOffset": 0,
        "borderRadius": 0,
        "padding": 0,
        "shadowColor": "transparent",
        "shadowBlur": 0,
        "shadowOffsetX": 0,
        "shadowOffsetY": 0,
        "textBorderColor": null,
        "textBorderWidth": 0,
        "textBorderType": "solid",
        "textBorderDashOffset": 0,
        "textShadowColor": "transparent",
        "textShadowBlur": 0,
        "textShadowOffsetX": 0,
        "textShadowOffsetY": 0,
        "overflow": "truncate",
        "ellipsis": "..."
      },
      "zlevel": 0,
      "z": 0
    }
  ],
  "yAxis": [
    {
      "show": true,
      "gridIndex": 0,
      "position": "left",
      "offset": 0,
      "realtimeSort": true,
      "sortSeriesIndex": 0,
      "type": "value",
      "nameLocation": "end",
      "nameGap": 15,
      "nameRotate": 0,
      "inverse": false,
      "boundaryGap": false,
      "min": "dataMin",
      "max": "dataMax",
      "scale": false,
      "splitNumber": 5,
      "minInterval": 0,
      "silent": false,
      "triggerEvent": false,
      "splitLine": {
        "show": true,
        "onZero": true,
        "symbol": null
      },
      "zlevel": 0,
      "z": 0
    },
    {
      "show": true,
      "gridIndex": 1,
      "position": "left",
      "offset": 0,
      "realtimeSort": true,
      "sortSeriesIndex": 0,
      "type": "value",
      "nameLocation": "end",
      "nameGap": 15,
      "nameRotate": 0,
      "inverse": false,
      "boundaryGap": false,
      "scale": false,
      "splitNumber": 5,
      "minInterval": 0,
      "silent": false,
      "triggerEvent": false,
      "zlevel": 0,
      "z": 0
    }
  ],
  "series": [
    {
      "type": "scatter",
      "name": "scatter",
      "colorBy": "series",
      "coordinateSystem": "cartesian2d",
      "legendHoverLink": true,
      "symbol": "circle",
      "symbolSize": function (val) {
                                    return val[2] * 40;
                                    },
      "symbolKeepAspect": true,
      "large": false,
      "largeThreshold": 2000,
      "cursor": "pointer",
      "itemStyle": {
        "borderType": "solid",
        "borderDashOffset": 0,
        "borderCap": "butt",
        "borderJoin": "bevel",
        "borderMiterLimit": 10,
        "opacity": 0.8
      },
      "data": [
        [
          0.796,
          0.616,
          0.055
        ],
        [
          7.842,
          7.338,
          0.780
        ],
        [
          13.676,
          9.460,
          0.917
        ],
        [
          7.374,
          5.105,
          0.536
        ],
        [
          8.217,
          3.294,
          0.503
        ],
        [
          9.805,
          3.637,
          0.381
        ],
        [
          2.140,
          4.834,
          0.370
        ],
        [
          8.243,
          4.451,
          0.544
        ],
        [
          4.989,
          8.157,
          0.120
        ],
        [
          2.256,
          3.198,
          0.581
        ],
        [
          13.378,
          8.843,
          0.635
        ],
        [
          2.742,
          5.101,
          0.979
        ],
        [
          8.396,
          1.291,
          0.330
        ],
        [
          5.608,
          4.069,
          0.362
        ],
        [
          10.467,
          5.454,
          0.500
        ],
        [
          6.654,
          0.928,
          0.782
        ],
        [
          9.272,
          8.033,
          0.399
        ],
        [
          7.257,
          7.153,
          0.837
        ],
        [
          12.586,
          6.872,
          0.624
        ],
        [
          0.181,
          6.250,
          0.333
        ],
        [
          7.569,
          3.442,
          0.022
        ],
        [
          9.817,
          9.015,
          0.317
        ],
        [
          11.406,
          5.942,
          0.359
        ],
        [
          9.160,
          3.875,
          0.255
        ],
        [
          11.443,
          1.341,
          0.057
        ],
        [
          5.003,
          7.678,
          0.069
        ],
        [
          11.148,
          6.204,
          0.665
        ],
        [
          3.076,
          9.496,
          0.075
        ],
        [
          7.746,
          7.828,
          0.157
        ],
        [
          2.031,
          8.936,
          0.211
        ],
        [
          14.688,
          0.635,
          0.963
        ],
        [
          8.811,
          5.629,
          0.225
        ],
        [
          8.563,
          0.680,
          0.136
        ],
        [
          3.705,
          2.372,
          0.195
        ],
        [
          9.871,
          2.716,
          0.854
        ],
        [
          2.665,
          4.025,
          0.876
        ],
        [
          13.890,
          5.498,
          0.123
        ],
        [
          8.129,
          9.663,
          0.746
        ],
        [
          8.008,
          3.698,
          0.301
        ],
        [
          11.125,
          9.374,
          0.917
        ],
        [
          8.367,
          9.699,
          0.773
        ],
        [
          2.180,
          4.055,
          0.096
        ],
        [
          6.698,
          3.597,
          0.711
        ],
        [
          12.145,
          3.386,
          0.298
        ],
        [
          2.297,
          0.569,
          0.762
        ],
        [
          3.623,
          1.855,
          0.983
        ],
        [
          5.410,
          3.382,
          0.389
        ],
        [
          13.637,
          2.345,
          0.012
        ],
        [
          9.780,
          2.054,
          0.466
        ],
        [
          5.659,
          2.640,
          0.847
        ],
        [
          1.653,
          6.554,
          0.114
        ],
        [
          11.078,
          8.086,
          0.433
        ],
        [
          6.187,
          3.822,
          0.345
        ],
        [
          6.770,
          2.121,
          0.031
        ],
        [
          0.720,
          7.754,
          0.764
        ],
        [
          14.354,
          6.963,
          0.224
        ],
        [
          5.686,
          1.672,
          0.905
        ],
        [
          3.608,
          8.972,
          0.565
        ],
        [
          3.450,
          8.038,
          0.223
        ],
        [
          11.493,
          2.736,
          0.580
        ],
        [
          11.741,
          3.300,
          0.190
        ],
        [
          3.487,
          7.212,
          0.852
        ],
        [
          14.301,
          6.676,
          0.949
        ],
        [
          2.369,
          4.050,
          0.365
        ],
        [
          5.102,
          7.117,
          0.321
        ],
        [
          0.929,
          9.870,
          0.955
        ],
        [
          5.068,
          8.223,
          0.662
        ],
        [
          8.608,
          3.291,
          0.231
        ],
        [
          4.078,
          3.093,
          0.246
        ],
        [
          3.684,
          0.201,
          0.716
        ],
        [
          5.365,
          4.823,
          0.189
        ],
        [
          5.584,
          6.076,
          0.116
        ],
        [
          8.283,
          3.801,
          0.540
        ],
        [
          7.288,
          6.478,
          0.889
        ],
        [
          7.864,
          1.523,
          0.231
        ],
        [
          13.774,
          7.411,
          0.082
        ],
        [
          0.973,
          9.833,
          0.782
        ],
        [
          10.125,
          4.015,
          0.339
        ],
        [
          11.382,
          6.797,
          0.299
        ],
        [
          13.312,
          3.885,
          0.569
        ],
        [
          1.476,
          6.277,
          0.130
        ],
        [
          12.675,
          2.211,
          0.148
        ],
        [
          2.036,
          8.647,
          0.594
        ],
        [
          12.511,
          7.024,
          0.860
        ],
        [
          11.544,
          0.799,
          0.443
        ],
        [
          14.793,
          6.934,
          0.684
        ],
        [
          0.326,
          8.199,
          0.501
        ],
        [
          1.480,
          0.622,
          0.493
        ],
        [
          12.981,
          0.551,
          0.327
        ],
        [
          2.435,
          7.206,
          0.774
        ],
        [
          9.180,
          1.748,
          0.205
        ],
        [
          3.621,
          6.928,
          0.277
        ],
        [
          11.644,
          0.606,
          0.294
        ],
        [
          13.134,
          1.950,
          0.848
        ],
        [
          14.875,
          9.752,
          0.370
        ],
        [
          9.402,
          9.846,
          0.388
        ],
        [
          3.078,
          4.360,
          0.337
        ],
        [
          12.185,
          2.399,
          0.712
        ],
        [
          3.108,
          4.659,
          0.161
        ],
        [
          13.720,
          1.343,
          0.527
        ],
        [
          8.798,
          0.085,
          0.056
        ],
        [
          12.664,
          1.396,
          0.813
        ],
        [
          3.951,
          3.873,
          0.672
        ],
        [
          5.128,
          0.848,
          0.531
        ],
        [
          13.282,
          8.798,
          0.609
        ],
        [
          9.333,
          8.773,
          0.473
        ],
        [
          8.341,
          3.675,
          0.111
        ],
        [
          12.286,
          6.879,
          0.765
        ],
        [
          0.018,
          7.563,
          0.127
        ],
        [
          6.074,
          9.943,
          0.657
        ],
        [
          2.220,
          9.008,
          0.176
        ],
        [
          13.495,
          6.445,
          0.882
        ],
        [
          11.001,
          5.973,
          0.243
        ],
        [
          8.128,
          4.405,
          0.169
        ],
        [
          10.859,
          7.126,
          0.531
        ],
        [
          4.237,
          5.271,
          0.464
        ],
        [
          1.568,
          2.359,
          0.486
        ],
        [
          4.093,
          9.845,
          0.576
        ],
        [
          14.210,
          6.304,
          0.567
        ],
        [
          9.798,
          8.586,
          0.903
        ],
        [
          12.943,
          3.529,
          0.900
        ],
        [
          6.724,
          5.400,
          0.435
        ],
        [
          3.769,
          7.162,
          0.968
        ],
        [
          9.393,
          7.915,
          0.310
        ],
        [
          4.835,
          5.869,
          0.222
        ],
        [
          13.952,
          2.377,
          0.947
        ],
        [
          3.145,
          5.689,
          0.289
        ],
        [
          14.893,
          2.056,
          0.741
        ],
        [
          0.692,
          4.173,
          0.756
        ],
        [
          10.667,
          8.292,
          0.349
        ],
        [
          10.430,
          2.332,
          0.315
        ],
        [
          14.854,
          6.343,
          0.437
        ],
        [
          9.417,
          5.155,
          0.214
        ],
        [
          8.844,
          2.071,
          0.222
        ],
        [
          3.783,
          4.899,
          0.592
        ],
        [
          13.597,
          9.518,
          0.235
        ],
        [
          13.923,
          9.409,
          0.188
        ],
        [
          14.206,
          6.430,
          0.510
        ],
        [
          0.798,
          6.615,
          0.856
        ],
        [
          8.490,
          6.384,
          0.794
        ],
        [
          6.026,
          7.911,
          0.345
        ],
        [
          4.849,
          0.130,
          0.858
        ],
        [
          7.669,
          3.697,
          0.081
        ],
        [
          2.717,
          5.304,
          0.837
        ],
        [
          6.278,
          0.952,
          0.827
        ],
        [
          0.756,
          8.460,
          0.873
        ],
        [
          13.390,
          6.874,
          0.645
        ],
        [
          2.270,
          9.677,
          0.239
        ],
        [
          11.967,
          1.816,
          0.726
        ],
        [
          14.515,
          8.419,
          0.493
        ],
        [
          5.156,
          6.003,
          0.842
        ],
        [
          0.975,
          9.906,
          0.703
        ],
        [
          0.637,
          5.493,
          0.281
        ],
        [
          10.529,
          7.616,
          0.782
        ],
        [
          3.729,
          8.725,
          0.777
        ],
        [
          13.755,
          3.858,
          0.601
        ],
        [
          10.382,
          6.392,
          0.984
        ],
        [
          2.918,
          8.621,
          0.991
        ],
        [
          7.346,
          8.643,
          0.491
        ],
        [
          10.717,
          0.923,
          0.933
        ],
        [
          12.950,
          6.704,
          0.101
        ],
        [
          4.686,
          2.403,
          0.147
        ],
        [
          10.669,
          4.915,
          0.901
        ],
        [
          2.696,
          9.553,
          0.082
        ],
        [
          3.628,
          5.662,
          0.453
        ],
        [
          7.345,
          3.245,
          0.198
        ],
        [
          12.897,
          5.340,
          0.444
        ],
        [
          0.439,
          9.562,
          0.123
        ],
        [
          8.400,
          5.366,
          0.625
        ],
        [
          0.670,
          9.806,
          0.428
        ],
        [
          13.160,
          0.033,
          0.238
        ],
        [
          4.354,
          0.053,
          0.278
        ],
        [
          0.968,
          9.237,
          0.890
        ],
        [
          10.865,
          5.574,
          0.639
        ],
        [
          1.782,
          5.114,
          0.231
        ],
        [
          11.152,
          7.986,
          0.064
        ],
        [
          5.989,
          3.056,
          0.124
        ],
        [
          3.518,
          2.886,
          0.850
        ],
        [
          6.762,
          2.319,
          0.759
        ],
        [
          8.831,
          3.132,
          0.185
        ],
        [
          12.550,
          3.394,
          0.161
        ],
        [
          14.751,
          4.323,
          0.500
        ],
        [
          12.482,
          1.610,
          0.523
        ],
        [
          11.994,
          4.407,
          0.956
        ],
        [
          9.661,
          0.369,
          0.858
        ],
        [
          4.028,
          4.034,
          0.310
        ],
        [
          6.236,
          2.922,
          0.492
        ],
        [
          11.561,
          0.866,
          0.223
        ],
        [
          11.030,
          8.848,
          0.231
        ],
        [
          2.461,
          5.522,
          0.620
        ],
        [
          8.881,
          1.477,
          0.628
        ],
        [
          4.525,
          6.367,
          0.081
        ],
        [
          13.223,
          8.281,
          0.899
        ],
        [
          14.477,
          4.193,
          0.253
        ],
        [
          9.447,
          6.956,
          0.613
        ],
        [
          0.318,
          2.009,
          0.908
        ],
        [
          4.371,
          5.517,
          0.926
        ],
        [
          5.969,
          5.249,
          0.798
        ],
        [
          3.301,
          4.547,
          0.688
        ],
        [
          2.291,
          5.036,
          0.459
        ],
        [
          11.169,
          8.153,
          0.528
        ],
        [
          13.189,
          1.556,
          0.941
        ],
        [
          12.513,
          7.084,
          0.705
        ],
        [
          3.549,
          0.712,
          0.611
        ],
        [
          1.082,
          8.402,
          0.536
        ],
        [
          7.821,
          7.602,
          0.069
        ],
        [
          4.008,
          2.830,
          0.774
        ],
        [
          11.662,
          1.007,
          0.639
        ],
        [
          4.613,
          1.363,
          0.308
        ],
        [
          10.419,
          9.490,
          0.576
        ],
        [
          3.160,
          2.670,
          0.973
        ],
        [
          8.600,
          9.916,
          0.338
        ],
        [
          2.106,
          2.580,
          0.114
        ],
        [
          1.588,
          7.471,
          0.726
        ],
        [
          4.890,
          4.738,
          0.229
        ],
        [
          14.559,
          4.867,
          0.615
        ],
        [
          3.358,
          4.952,
          0.606
        ],
        [
          13.315,
          8.027,
          0.351
        ],
        [
          12.794,
          2.440,
          0.444
        ],
        [
          2.438,
          8.704,
          0.735
        ],
        [
          0.618,
          4.242,
          0.773
        ],
        [
          14.901,
          3.631,
          0.529
        ],
        [
          11.496,
          4.329,
          0.308
        ],
        [
          3.413,
          1.701,
          0.808
        ],
        [
          4.023,
          1.744,
          0.494
        ],
        [
          12.814,
          2.142,
          0.849
        ],
        [
          6.681,
          3.553,
          0.055
        ],
        [
          2.173,
          2.590,
          0.522
        ],
        [
          8.716,
          9.994,
          0.095
        ],
        [
          7.256,
          6.763,
          0.275
        ],
        [
          14.149,
          6.716,
          0.044
        ],
        [
          9.710,
          1.229,
          0.290
        ],
        [
          2.275,
          3.194,
          0.436
        ],
        [
          7.428,
          4.350,
          0.627
        ],
        [
          5.311,
          1.857,
          0.581
        ],
        [
          9.338,
          2.760,
          0.480
        ],
        [
          8.660,
          2.491,
          0.285
        ],
        [
          5.637,
          1.900,
          0.586
        ],
        [
          11.403,
          3.007,
          0.838
        ],
        [
          3.680,
          4.871,
          0.950
        ],
        [
          0.664,
          5.364,
          0.134
        ],
        [
          11.164,
          6.952,
          0.424
        ],
        [
          12.435,
          7.976,
          0.822
        ],
        [
          2.386,
          3.360,
          0.964
        ],
        [
          13.792,
          5.082,
          0.205
        ],
        [
          2.741,
          0.801,
          0.526
        ],
        [
          1.663,
          0.357,
          0.633
        ],
        [
          5.554,
          4.616,
          0.880
        ],
        [
          5.067,
          3.941,
          0.383
        ],
        [
          3.052,
          9.357,
          0.800
        ],
        [
          2.424,
          5.136,
          0.655
        ],
        [
          13.183,
          3.911,
          0.490
        ],
        [
          3.289,
          2.640,
          0.401
        ],
        [
          8.793,
          8.569,
          0.434
        ],
        [
          11.576,
          9.253,
          0.035
        ],
        [
          12.154,
          9.897,
          0.253
        ],
        [
          9.177,
          9.258,
          0.213
        ],
        [
          14.716,
          3.010,
          0.688
        ],
        [
          6.042,
          8.175,
          0.359
        ],
        [
          10.917,
          9.821,
          0.645
        ],
        [
          13.811,
          5.285,
          0.001
        ],
        [
          6.049,
          6.572,
          0.419
        ],
        [
          5.356,
          1.125,
          0.250
        ],
        [
          6.487,
          3.558,
          0.182
        ],
        [
          0.142,
          2.045,
          0.368
        ],
        [
          5.011,
          2.545,
          0.306
        ],
        [
          3.294,
          6.880,
          0.876
        ],
        [
          4.816,
          5.790,
          0.571
        ],
        [
          1.831,
          9.143,
          0.154
        ],
        [
          1.628,
          2.930,
          0.067
        ],
        [
          0.180,
          4.731,
          0.207
        ],
        [
          3.697,
          8.418,
          0.741
        ],
        [
          8.768,
          7.337,
          0.971
        ],
        [
          13.162,
          6.897,
          0.373
        ],
        [
          5.262,
          4.150,
          0.828
        ],
        [
          1.785,
          2.705,
          0.278
        ],
        [
          4.371,
          5.021,
          0.028
        ],
        [
          13.575,
          3.523,
          0.315
        ],
        [
          11.557,
          5.682,
          0.117
        ],
        [
          12.718,
          0.282,
          0.124
        ],
        [
          12.002,
          1.428,
          0.617
        ],
        [
          5.403,
          0.940,
          0.223
        ],
        [
          1.340,
          9.205,
          0.460
        ],
        [
          10.731,
          4.264,
          0.211
        ],
        [
          8.223,
          9.114,
          0.023
        ],
        [
          2.995,
          1.453,
          0.961
        ],
        [
          4.926,
          1.315,
          0.536
        ],
        [
          13.877,
          5.554,
          0.769
        ],
        [
          13.927,
          2.689,
          0.717
        ],
        [
          6.688,
          6.246,
          0.325
        ],
        [
          10.533,
          3.813,
          0.724
        ],
        [
          2.366,
          7.446,
          0.827
        ],
        [
          2.623,
          4.585,
          0.757
        ],
        [
          9.914,
          7.496,
          0.139
        ],
        [
          9.239,
          6.080,
          0.905
        ],
        [
          5.138,
          5.271,
          0.509
        ],
        [
          10.958,
          2.319,
          0.967
        ],
        [
          10.904,
          6.861,
          0.933
        ],
        [
          14.888,
          0.170,
          0.923
        ],
        [
          13.790,
          8.913,
          0.257
        ],
        [
          9.797,
          9.423,
          0.481
        ],
        [
          9.494,
          4.921,
          0.244
        ],
        [
          9.519,
          5.246,
          0.372
        ],
        [
          7.326,
          3.565,
          0.334
        ],
        [
          14.539,
          4.336,
          0.225
        ],
        [
          1.209,
          9.054,
          0.281
        ],
        [
          0.093,
          7.654,
          0.425
        ],
        [
          7.745,
          2.099,
          0.591
        ],
        [
          12.387,
          7.039,
          0.649
        ],
        [
          2.501,
          3.976,
          0.066
        ],
        [
          1.358,
          0.429,
          0.873
        ],
        [
          4.387,
          4.046,
          0.457
        ],
        [
          12.830,
          1.830,
          0.060
        ],
        [
          2.263,
          2.460,
          0.002
        ],
        [
          3.065,
          6.400,
          0.786
        ],
        [
          14.619,
          1.334,
          0.937
        ],
        [
          10.679,
          0.983,
          0.593
        ],
        [
          5.735,
          8.850,
          0.405
        ],
        [
          2.738,
          5.350,
          0.723
        ],
        [
          12.187,
          8.268,
          0.525
        ],
        [
          3.130,
          6.148,
          0.850
        ],
        [
          11.483,
          6.184,
          0.064
        ],
        [
          9.750,
          7.319,
          0.637
        ],
        [
          8.870,
          6.874,
          0.447
        ],
        [
          12.357,
          2.203,
          0.895
        ],
        [
          2.699,
          1.417,
          0.062
        ],
        [
          12.551,
          7.944,
          0.979
        ],
        [
          5.148,
          5.991,
          0.391
        ],
        [
          12.083,
          0.528,
          0.645
        ],
        [
          0.252,
          8.775,
          0.466
        ],
        [
          5.932,
          3.763,
          0.673
        ],
        [
          3.109,
          9.945,
          0.908
        ],
        [
          14.131,
          7.777,
          0.299
        ],
        [
          13.506,
          9.314,
          0.791
        ],
        [
          10.958,
          9.508,
          0.709
        ],
        [
          6.765,
          4.771,
          0.327
        ],
        [
          9.092,
          7.389,
          0.249
        ],
        [
          11.160,
          9.387,
          0.465
        ],
        [
          6.750,
          6.386,
          0.066
        ],
        [
          13.988,
          0.176,
          0.611
        ],
        [
          3.122,
          8.354,
          0.201
        ],
        [
          6.030,
          7.220,
          0.361
        ],
        [
          12.834,
          2.729,
          0.266
        ],
        [
          12.080,
          9.833,
          0.577
        ],
        [
          9.815,
          9.650,
          0.418
        ],
        [
          5.314,
          8.542,
          0.362
        ],
        [
          8.869,
          9.182,
          0.461
        ],
        [
          14.945,
          8.166,
          0.393
        ],
        [
          10.122,
          7.532,
          0.371
        ],
        [
          8.452,
          3.999,
          0.718
        ],
        [
          11.876,
          7.135,
          0.400
        ],
        [
          12.845,
          8.538,
          0.998
        ],
        [
          12.743,
          1.531,
          0.845
        ],
        [
          1.626,
          0.915,
          0.092
        ],
        [
          14.521,
          8.150,
          0.185
        ],
        [
          5.558,
          0.502,
          0.060
        ],
        [
          7.016,
          8.180,
          0.686
        ],
        [
          7.406,
          6.450,
          0.135
        ],
        [
          6.487,
          1.615,
          0.493
        ],
        [
          8.942,
          2.977,
          0.356
        ],
        [
          3.515,
          2.778,
          0.132
        ],
        [
          4.916,
          0.675,
          0.670
        ],
        [
          11.562,
          2.023,
          0.250
        ],
        [
          12.451,
          0.476,
          0.528
        ],
        [
          14.785,
          2.327,
          0.575
        ],
        [
          1.315,
          9.670,
          0.684
        ],
        [
          4.495,
          0.564,
          0.681
        ],
        [
          5.583,
          8.877,
          0.955
        ],
        [
          6.279,
          1.545,
          0.282
        ],
        [
          6.454,
          0.135,
          0.123
        ],
        [
          0.718,
          7.528,
          0.875
        ],
        [
          12.093,
          2.389,
          0.794
        ],
        [
          1.936,
          8.625,
          0.750
        ],
        [
          7.782,
          9.957,
          0.522
        ],
        [
          3.360,
          4.579,
          0.338
        ],
        [
          0.515,
          4.962,
          0.391
        ],
        [
          3.721,
          6.224,
          0.349
        ],
        [
          4.834,
          8.079,
          0.551
        ],
        [
          1.272,
          6.041,
          0.421
        ],
        [
          8.515,
          2.806,
          0.660
        ],
        [
          3.608,
          5.756,
          0.335
        ],
        [
          2.780,
          1.632,
          0.481
        ],
        [
          12.420,
          4.456,
          0.423
        ],
        [
          13.348,
          4.724,
          0.007
        ],
        [
          0.162,
          5.100,
          0.457
        ],
        [
          7.232,
          9.351,
          0.776
        ],
        [
          13.169,
          7.730,
          0.152
        ],
        [
          13.933,
          6.548,
          0.216
        ],
        [
          1.178,
          2.203,
          0.087
        ],
        [
          14.405,
          5.617,
          0.329
        ],
        [
          2.375,
          7.978,
          0.325
        ],
        [
          5.859,
          2.297,
          0.322
        ],
        [
          11.136,
          0.645,
          0.591
        ],
        [
          8.800,
          5.430,
          0.596
        ],
        [
          4.406,
          1.050,
          0.492
        ],
        [
          13.673,
          0.806,
          0.828
        ],
        [
          4.402,
          3.588,
          0.926
        ],
        [
          1.295,
          5.427,
          0.268
        ],
        [
          5.561,
          3.394,
          0.134
        ],
        [
          7.473,
          7.747,
          0.967
        ],
        [
          5.844,
          7.292,
          0.016
        ],
        [
          13.552,
          2.113,
          0.108
        ],
        [
          12.830,
          8.414,
          0.808
        ],
        [
          3.063,
          6.470,
          0.579
        ],
        [
          5.473,
          3.153,
          0.959
        ],
        [
          6.961,
          1.080,
          0.433
        ],
        [
          2.004,
          8.890,
          0.006
        ],
        [
          13.438,
          4.435,
          0.518
        ],
        [
          12.002,
          7.600,
          0.893
        ],
        [
          3.563,
          2.680,
          0.774
        ],
        [
          1.639,
          2.506,
          0.260
        ],
        [
          6.059,
          2.050,
          0.426
        ],
        [
          0.149,
          3.821,
          0.309
        ],
        [
          10.678,
          6.870,
          0.072
        ],
        [
          12.844,
          5.725,
          0.683
        ],
        [
          2.865,
          6.227,
          0.455
        ],
        [
          12.932,
          3.232,
          0.792
        ],
        [
          14.923,
          3.716,
          0.293
        ],
        [
          10.161,
          0.514,
          0.191
        ],
        [
          2.348,
          5.400,
          0.478
        ],
        [
          3.125,
          9.020,
          0.258
        ],
        [
          14.529,
          2.272,
          0.949
        ],
        [
          14.651,
          6.237,
          0.792
        ],
        [
          7.172,
          8.967,
          0.045
        ],
        [
          0.197,
          6.237,
          0.704
        ],
        [
          0.995,
          6.918,
          0.812
        ],
        [
          14.227,
          5.224,
          0.055
        ],
        [
          4.098,
          9.082,
          0.344
        ],
        [
          12.229,
          7.874,
          0.294
        ],
        [
          13.361,
          5.052,
          0.498
        ],
        [
          2.982,
          9.936,
          0.171
        ],
        [
          0.383,
          7.318,
          0.754
        ],
        [
          13.225,
          0.252,
          0.897
        ],
        [
          4.711,
          6.468,
          0.598
        ],
        [
          10.486,
          6.719,
          0.342
        ],
        [
          14.086,
          3.416,
          0.597
        ],
        [
          9.117,
          9.462,
          0.458
        ],
        [
          12.646,
          8.493,
          0.578
        ],
        [
          5.324,
          8.806,
          0.510
        ],
        [
          3.642,
          2.675,
          0.639
        ],
        [
          14.596,
          7.850,
          0.824
        ],
        [
          6.884,
          7.877,
          0.688
        ],
        [
          2.601,
          8.061,
          0.848
        ],
        [
          6.793,
          9.265,
          0.087
        ],
        [
          3.767,
          3.632,
          0.921
        ],
        [
          6.296,
          3.812,
          0.036
        ],
        [
          8.351,
          9.053,
          0.618
        ],
        [
          8.123,
          4.267,
          0.349
        ],
        [
          11.908,
          8.234,
          0.391
        ],
        [
          1.096,
          0.206,
          0.706
        ],
        [
          9.490,
          8.024,
          0.039
        ],
        [
          0.867,
          7.339,
          0.056
        ],
        [
          8.187,
          2.346,
          0.339
        ],
        [
          4.465,
          8.218,
          0.726
        ],
        [
          13.241,
          0.198,
          0.947
        ],
        [
          10.076,
          2.858,
          0.620
        ],
        [
          9.023,
          5.003,
          0.318
        ],
        [
          6.941,
          0.724,
          0.476
        ],
        [
          1.199,
          4.273,
          0.277
        ],
        [
          11.950,
          0.684,
          0.322
        ],
        [
          2.449,
          0.463,
          0.386
        ],
        [
          7.650,
          4.497,
          0.337
        ],
        [
          4.644,
          9.307,
          0.954
        ],
        [
          11.867,
          0.363,
          0.898
        ],
        [
          3.143,
          8.454,
          0.300
        ],
        [
          1.500,
          1.908,
          0.806
        ],
        [
          4.381,
          3.460,
          0.526
        ],
        [
          6.228,
          6.290,
          0.289
        ],
        [
          12.910,
          7.066,
          0.914
        ],
        [
          11.639,
          1.171,
          0.262
        ],
        [
          5.230,
          4.877,
          0.350
        ],
        [
          9.949,
          4.939,
          0.964
        ],
        [
          5.823,
          3.096,
          0.391
        ],
        [
          8.732,
          2.257,
          0.689
        ],
        [
          2.068,
          9.082,
          0.460
        ],
        [
          1.106,
          1.027,
          0.030
        ],
        [
          14.526,
          2.614,
          0.652
        ],
        [
          4.425,
          4.870,
          0.385
        ],
        [
          2.142,
          9.630,
          0.830
        ],
        [
          3.086,
          2.732,
          0.524
        ],
        [
          1.152,
          7.262,
          0.434
        ],
        [
          3.512,
          3.965,
          0.627
        ],
        [
          14.759,
          4.800,
          0.944
        ],
        [
          2.480,
          7.739,
          0.883
        ],
        [
          8.063,
          7.927,
          0.622
        ],
        [
          5.516,
          1.715,
          0.887
        ],
        [
          3.603,
          3.705,
          0.709
        ],
        [
          3.301,
          9.680,
          0.778
        ],
        [
          4.923,
          2.004,
          0.793
        ],
        [
          2.302,
          6.599,
          0.980
        ],
        [
          9.716,
          4.015,
          0.376
        ],
        [
          6.476,
          0.494,
          0.428
        ],
        [
          14.986,
          2.257,
          0.984
        ],
        [
          0.404,
          6.064,
          0.986
        ],
        [
          1.446,
          9.295,
          0.403
        ],
        [
          4.780,
          7.540,
          0.140
        ],
        [
          1.838,
          2.611,
          0.701
        ],
        [
          3.051,
          7.208,
          0.926
        ],
        [
          0.544,
          3.364,
          0.131
        ],
        [
          6.097,
          5.612,
          0.962
        ]
      ],
      "clip": true,
      "zlevel": 0,
      "z": 2,
      "silent": false,
      "xAxisIndex": 0,
      "yAxisIndex": 0
    },
    {
      "type": "bar",
      "name": "barseries_1",
      "colorBy": "series",
      "legendHoverLink": true,
      "coordinateSystem": "cartesian2d",
      "roundCap": false,
      "showBackground": false,
      "stack": null,
      "sampling": "max",
      "cursor": "pointer",
      "barMinWidth": null,
      "barCategoryGap": "20%",
      "large": false,
      "largeThreshold": 400,
      "data": [
        50,
        6,
        80,
        120,
        30
      ],
      "zlevel": 0,
      "z": 2,
      "silent": false,
      "xAxisIndex": 1,
      "yAxisIndex": 1
    }
  ],
  "grid": [
    {
      "bottom": "60%",
      "left": "10%",
      "right": "15%",
      "width": "85%"
    },
    {
      "top": "60%",
      "left": "5%",
      "width": "100%"
    }
  ]
}
        chart_45cd170e0f0e4521ae1a94801d88fe4a.setOption(option_45cd170e0f0e4521ae1a94801d88fe4a);
    </script>
  </body>
</html>
